 
body 
{
	
	background-color:gray; 
	font-family:Verdana;
	
}
 
#container
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
#logo
{
	color:white;
	margin-top:20px;
	font-size:40px;
	letter-spacing:4px;
	font-weight:900;
}
#menu
{
	background-color:#66cc66;
	margin-top:20px;
	color:#FFFFFF;
	padding:10px;
}
#topbar
{
	background-color:#128344;
	color:white;
	padding:10px;
	margin-top:20px;
	margin-bottom:25px;
	height:170px;
}
#topbarL
{
	float:left;
	padding;20px;
	width:138px;
	text-align:center;
	border-right: 2px dotted #CCCCCC;
}
#topbarR
{
	float:left;
	padding:20px;
	width:760px;
	font-size:16px;
	text-align:justify;
}
#sidebar
{
	float:left;
	widht:150px;
	min-height:620px;
	padding:20px;
	background-color:lightgrey;
	text-align:center;
	font-size:18px;
	border-right: 2px dotted #666666;
}
#content
{
	float:left;
	padding:40px;
	width:727px;
	background-color:#dedede;
	min-height:580px;
	text-align:justify;
}
#footer
{
	clear:both;
	color:white;
	padding:20px;
	text-align:center;
	font-size:18px;
}
.option
{
	float:left;
	min-width:50px;
	height:25px;
	font-size:18px;
	padding:10px;
	border-right:2px dotted yellow;
	opacity:0.8;
}
.option:hover
{
	background-color:yellow;
	cursor:pointer;
}
.optionL
{
	font-size:18px;
	height:25px;
	padding:10px;
	border-bottom: 2px dotted #444444;
}
.optionL:hover
{
	background-color:#F36742;
	cursor:pointer;
	color:white;
}
.bigtitle
{
	font-size:32px;
	font-weight:900;
	letter-spacing:2px;
}
.dottedline
{
	height:5px;
	margin-top:15px;
	margin-bottom:20px;
	border-bottom:2px dotted #444444;
}
				<!-- Jest to plik css, kaskadowe arkusze stylów, który określa wygląd strony. Tj. czcionkę, wielkosc czcionki, kolory tła, itd. -->